EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_SMTP_AUTH=false
EMAIL_STARTTLS=false
EMAIL_FROM_ADDRESS=no-reply@novaflow.local
EMAIL_FROM_NAME=NovaFlow
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=novaflow
RABBITMQ_PASSWORD=novaflow
