POSTGRES_USER=sa
POSTGRES_PASSWORD=StiffMedal30
RABBITMQ_USERNAME=novaflow
RABBITMQ_PASSWORD=novaflow
INTERNAL_SERVICE_KEY=novaflow-local-internal-key
GOOGLE_OAUTH_ENABLED=false
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_BASE_URL=http://localhost:3000
